.about-container{
    background-color: #F4ECE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.about-heading{
    padding-top: 140px;
    padding-bottom: 40px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-icon {
    width: 16px;
    height: 16px;
    background-color: blueviolet;
}
.about{
    font-weight: 600;
    font-size: 25px;
}
.about-box{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 30px 40px;
    width: 720px;
    height: 180px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: flex-start;
    gap: 5px;
}
.institute-name{
    color: blueviolet;
    font-weight: 700;
    font-size: larger;
}
.study-period{
    font-weight: 500;
    font-size: 15px;
}
.study-stream{
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    font-weight: 300;
    font-size: 15px;
}
.grade{
    font-weight: 300;
    font-size: 15px;
}

/* mobile screen */

@media only screen and (max-width: 600px){
    .about-container{
        background-color: #f5ebe0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }
    .about-heading{
        padding-top: 140px;
        padding-bottom: 40px;
        /* background-color: aquamarine; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-icon {
        width: 16px;
        height: 16px;
        background-color: blueviolet;
    }
    .about{
        font-weight: 600;
        font-size: 25px;
    }
    .about-box{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
        padding: 20px 20px;
        width: 90%;
        height: 20%;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        /* justify-content: start; */
        align-items: flex-start;
    }
    .institute-name{
        color: blueviolet;
        font-weight: 600;
        font-size:20px;
    }
    .study-period{
        font-weight: 500;
    }
    .study-stream{
        color: rgb(0, 0, 0);
        padding: 0px 0px;
        font-weight: 300;
        margin: 2px -2px;
    }
    .grade{
        font-weight: 300;
    }
}