.projects-container{
    background-color: #F4ECE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 140px;
}
.projects-heading{
    padding-top: 140px;
    padding-bottom: 40px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-icon {
    width: 16px;
    height: 16px;
    background-color: blueviolet;
}
.project{
    font-weight: 600;
    font-size: 25px;
}
.project-box{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 780px;
    height: 220px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project-box>.right{
    width: 60%;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
.project-box>.right>.heading{
    font-size: 24px;
    color: blueviolet;
    align-self: flex-start;
    font-weight: 500;
}
.project-box>.right>.tech{
    font-size: 16px;
    align-self: flex-start;
    font-weight: 400;
    padding: 0px 8px;
    background-color: rgb(239, 221, 255);
    color: blueviolet;
}
.web-link{
    cursor: pointer;
    /* padding: 0px 8px; */
    /* background-color: rgb(239, 221, 255); */
    color: blueviolet;
    text-decoration: underline;
    align-self: flex-start;
}
.project-box>.right>.info{
    font-size: small;
    align-self: flex-start;
    text-align: justify;
    font-weight: 400;
}
.project-box>.left{
    width: 45%;
    height: 100%;
}
.project-box>.left>img{
    height: 100%;
    width: 100%;
}

.footer-container{
    position: relative;
}
img{
    width: 40%;
}


/* mobile screen */

@media only screen and (max-width: 600px){
    .projects-container{
        background-color: #f5ebe0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
    }
    .projects-heading{
        padding-top: 140px;
        padding-bottom: 40px;
        /* background-color: aquamarine; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-icon {
        width: 16px;
        height: 16px;
        background-color: blueviolet;
    }
    .project{
        font-weight: 600;
        font-size: 25px;
    }
    .project-box{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
        width: 90%;
        height: 500px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-box>.right{
        width: 100%;
        height: 100%;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }
    .project-box>.right>.heading{
        font-size: 30px;
        color: blueviolet;
        align-self: center;
        font-weight: 400;
    }
    .project-box>.right>.tech{
        font-size: 16px;
        align-self: flex-start;
        font-weight: 400;
        padding: 0px 8px;
        background-color: rgb(242, 230, 253);
        color: blueviolet;
    }
    .web-link{
        cursor: pointer;
        /* padding: 0px 8px; */
        /* background-color: rgb(239, 221, 255); */
        color: blueviolet;
        text-decoration: underline;
        align-self: flex-start;
    }

    .project-box>.right>.info{
        font-size: 16px;
        align-self: center;
        text-align: justify;
        font-weight: 300;
    }
    .project-box>.left{
        width: 100%;
        height: 100%;
    }

    .footer-container{
        position: relative;
    }
    img{
        width: 40%;
    }
    .left>img{
        border-bottom: 0.5px solid rgb(0, 0, 0);
    }
}
